<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">
        <img src="/static/bootstrap-4.3.1-dist/ika.jpg"  class="d-inline-block align-middle" alt="">
        PAY SCHOOL FEES
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item {{ home }}">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {{ about }}">
          <a class="nav-link" href="/#">About Us</a>
        </li>
        <li class="nav-item {{ school }}">
          <a class="nav-link" href="/#">My School</a>
        </li>

        {% if session.logged_in %}
        <li class="nav navbar-nav navbar-right">
          <a class="nav-link" href="/#">Logout</a>
        </li>
        {% else %}
        <li class="nav navbar-nav navbar-right {{ login }}">
          <a class="nav-link" href="/#">Login</a>
        </li>
        {% endif %}
      </ul>
      
         
    </div>
  </nav>


  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">

    <a class="btn btn-dark border-none text-info" href="#">  <img src="/static/bootstrap-4.3.1-dist/ika.jpg" alt="codeplalogo" style="width:20px;height:20px">  <strong> PAY SCHOOL FEES</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {{ home }}">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {{ about }}">
          <a class="nav-link" href="/#">
            About Us
          </a>
        </li>
        <li class="nav-item {{ school }}">
          <a class="nav-link " href="/#">
            My School
          </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success mr-sm-2" type="submit">Search</button>
        <ul class="navbar-nav navbar-light  navbar-right">
          {% if session.logged_in %}
          <li class="nav-item">
              <a class="btn btn-dark mr-sm-1 text-info" href="/dashboard"><b>Dashboard</b></a>
          </li>
          <li class="nav-item">
            <a class="btn btn-dark my-2 my-sm-0" href="/dashboard/profile">Profile</a>
        </li>
          <li class="nav-item">
              <a class="btn btn-dark my-2 my-sm-0" href="/logout">Logout</a>
          </li>
          {% else %}
          <li class="nav-item active">
            <a class="btn btn-dark mr-sm-1" href="/#">Register <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="btn btn-dark my-2 my-sm-0" href="/#">Login</a>
          </li>
          {% endif %}
        </ul>
  
      </form>
    </div>
  </nav>
  
  <hr>